<%- include('partials/header'); -%>
<div class="container">
	<header class="jumbotron">
		<h1>This is the landing page</h1>
		<a href = "/campgrounds">view campgrounds</a>

	</header>


</div>
<%- include('partials/footer'); -%>
